## STA 141B 
### Homework 2

### Your Name: 

You are provided with three datasets, which you will work with.  Submit only this ipynb to canvas.  Work in between the exercise cells and be clear about your answers.  For example, you should add cells below the cell starting with 1.1 for the answer to 1.1.  You can break your answers into as many cells as you like.  Please do not clear your output so that we can see your answers without running all of the cells.

**Exercise 1**

*1.1* (5 pts) Read in the 'county_age_dist.csv' and cast the 'fips' column as a string such that it is a length 5 string of digits that starts with 0 if it is currently of length 4.  Yolo county for example is '06113'.  This is the age distribution of each county in the US (with territories), you may notice that the total population is unusually large; please ignore this.

In [1]:
import pandas as pd
import numpy as np

In [2]:
age_dist = pd.read_csv('county_age_dist.csv',dtype={'fips':str})
age_dist['fips'] =  age_dist['fips'].apply(lambda x : '{0:0>5}'.format(x))
age_dist = age_dist.set_index(['fips'])
age_dist

        0-17  18-24  25-34  35-44  45-54  55-64  65-74  75-84   85+
fips
01001  25941  11422  12315  13828  14000  12697   9594   5430  1945
01003  86587  37568  44133  46730  49675  52405  43252  23262  8854
01005  11057   6162   6603   5907   6490   6377   5255   2795  1074
01007   9671   5241   5788   5472   6707   5563   4270   2555   638
01009  25671  11360  12635  13570  14737  14123  12106   6560  2022
...      ...    ...    ...    ...    ...    ...    ...    ...   ...
72145  27016  14455  14882  14168  15026  14450  11928   6139  3159
72147   4724   2727   2092   2356   2496   2972   2364   1498   479
72149  11353   6431   5521   5319   5788   6228   4631   2218   859
72151  16068   9025   8465   9199   9548   9805   7926   3784  2103
72153  17375   8974   9422   9457  10028  10672   8571   4620  2346

[3220 rows x 9 columns]

*1.2* (5 pts) Create a population column which is the sum of the age counts for all age bins.  For each age bin create a column which is proportion of the age bin in the county populations, so for example '0-17_rat' is the ratio of '0-17' to the whole population for the county.  Print out the FIPS code for the county with the largest proportion of 0-17 year olds. What is the FIPS code for the county with the largest proportion of 85+ year olds?

In [3]:
age_dist['populations'] = age_dist.loc[:,:'85+'].sum(axis=1)
for i in range(9):
    age_dist[age_dist.columns[i]+'_rat'] = age_dist.iloc[:,i] / age_dist['populations'] 
age_dist

,0-17,18-24,25-34,35-44,45-54,55-64,65-74,75-84,85+,populations,0-17_rat,18-24_rat,25-34_rat,35-44_rat,45-54_rat,55-64_rat,65-74_rat,75-84_rat,85+_rat
fips,,,,,,,,,,,,,,,,,,,
01001,25941,11422,12315,13828,14000,12697,9594,5430,1945,107172,0.242050,0.106576,0.114909,0.129026,0.130631,0.118473,0.089520,0.050666,0.018148
01003,86587,37568,44133,46730,49675,52405,43252,23262,8854,392466,0.220623,0.095723,0.112451,0.119068,0.126571,0.133527,0.110206,0.059271,0.022560
01005,11057,6162,6603,5907,6490,6377,5255,2795,1074,51720,0.213786,0.119142,0.127668,0.114211,0.125483,0.123299,0.101605,0.054041,0.020766
01007,9671,5241,5788,5472,6707,5563,4270,2555,638,45905,0.210674,0.114171,0.126086,0.119203,0.146106,0.121185,0.093018,0.055658,0.013898
01009,25671,11360,12635,13570,14737,14123,12106,6560,2022,112784,0.227612,0.100724,0.112028,0.120318,0.130666,0.125222,0.107338,0.058164,0.017928
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72145,27016,14455,14882,14168,15026,14450,11928,6139,3159,121223,0.222862,0.119243,0.122765,0.116876,0.123953,0.119202,0.098397,0.050642,0.026059
72147,4724,2727,2092,2356,2496,2972,2364,1498,479,21708,0.217616,0.125622,0.096370,0.108531,0.114981,0.136908,0.108900,0.069007,0.022066
72149,11353,6431,5521,5319,5788,6228,4631,2218,859,48348,0.234818,0.133015,0.114193,0.110015,0.119715,0.128816,0.095785,0.045876,0.017767
72151,16068,9025,8465,9199,9548,9805,7926,3784,2103,75923,0.211635,0.118870,0.111495,0.121162,0.125759,0.129144,0.104395,0.049840,0.027699
72153,17375,8974,9422,9457,10028,10672,8571,4620,2346,81465,0.213282,0.110158,0.115657,0.116087,0.123096,0.131001,0.105211,0.056711,0.028798

In [4]:
print("FIPS " + age_dist['0-17_rat'].idxmax() + " has the largest proportion of 0-17 year olds.")
print("FIPS " + age_dist['85+_rat'].idxmax() + " has the largest proportion of 85+ year olds.")

FIPS 02158 has the largest proportion of 0-17 year olds.
FIPS 31091 has the largest proportion of 85+ year olds.

*1.3* (10 pts) What is the overall proportion of each age bin within the entire US.  You need to find the total number of each age bin across all counties and take its ratio with the total population.

In [5]:
tot_pop = age_dist['populations'].sum()
for i in range(9):
    print("Age bin " + age_dist.columns[i] + " overall proportion is " + str(age_dist.iloc[:,i].sum() / tot_pop))

Age bin 0-17 overall proportion is 0.2248841045336329
Age bin 18-24 overall proportion is 0.11745212359398216
Age bin 25-34 overall proportion is 0.12820036540909738
Age bin 35-44 overall proportion is 0.11915890435917235
Age bin 45-54 overall proportion is 0.12401383354753297
Age bin 55-64 overall proportion is 0.12371873699433591
Age bin 65-74 overall proportion is 0.08939120623646862
Age bin 75-84 overall proportion is 0.050112335127558714
Age bin 85+ overall proportion is 0.023068390198218998

*1.4* (15 pts) Create a new column that contains the mode of the age bins (the age bin with the largest frequency in the county).  Print out the frequencies of the modes' different possible values, so that the frequency of '0-17' is the proportion of the counties that have '0-17' as the largest age bin for that county.

In [6]:
age_dist['mode'] = age_dist.iloc[:,:9].idxmax(axis = 1)
from collections import Counter
c = Counter(age_dist['mode'])
c_sum = sum(c.values())
for freq in c:
    print("Age bin "+freq+" frequency: "+str(c[freq]/c_sum))

Age bin 0-17 frequency: 0.9493788819875777
Age bin 18-24 frequency: 0.021739130434782608
Age bin 45-54 frequency: 0.0009316770186335404
Age bin 25-34 frequency: 0.004658385093167702
Age bin 55-64 frequency: 0.018012422360248446
Age bin 65-74 frequency: 0.004658385093167702
Age bin 35-44 frequency: 0.0006211180124223603

**Exercise 2**

*2.1* (5 pts) Read in the 'county_fips_master.csv' and join this to the county age dataframe constructed above such that there is one row for every county in the new dataframe from county_fips_master.  How many rows are there in the new dataframe?  Are there any missing entries?  If so how many rows have missingness?

In [77]:
fips_master = pd.read_csv('county_fips_master.csv',converters={'fips':str})
fips_master['fips'] =  fips_master['fips'].apply(lambda x : '{0:0>5}'.format(x))
fips_master = fips_master.set_index(['fips'])
join_df = fips_master.join(age_dist,how='left')
print("There are " + str(len(join_df)) + " rows in the new dataframe.")
print("Are there any missing entries? " + str(join_df.isnull().values.any()))
print(str(join_df.isnull().any(axis=1).sum()) + " rows have missingness.")

There are 3146 rows in the new dataframe.
Are there any missing entries? True
3 rows have missingness.

*2.2* (10 pts) Drop any rows with missingness.  For each state calculate the proportion of each age bin as you did for the entire US in the question above.  What is the state with the most 0-17 proportion and the state with the most 85+ proportion?  Give the proportions.

In [78]:
join_df_drop = join_df.dropna(axis=0)
print(join_df_drop.shape)
groupby_sum = join_df_drop.groupby(["state_name"]).sum()
print("The state with the most 0-17 proportion is " + (groupby_sum['0-17']/groupby_sum['populations']).idxmax())
print("The state with the most 85+ proportion is " + (groupby_sum['85+']/groupby_sum['populations']).idxmax())

(3143, 32)
The state with the most 0-17 proportion is Utah
The state with the most 85+ proportion is Rhode Island

In [84]:
join_df_drop.head()

,county_name,state_abbr,state_name,long_name,sumlev,region,division,state,county,crosswalk,...,0-17_rat,18-24_rat,25-34_rat,35-44_rat,45-54_rat,55-64_rat,65-74_rat,75-84_rat,85+_rat,mode
fips,,,,,,,,,,,,,,,,,,,,,
01001,Autauga County,AL,Alabama,Autauga County AL,50.0,3.0,6.0,1.0,1.0,3-6-1-1,...,0.242050,0.106576,0.114909,0.129026,0.130631,0.118473,0.089520,0.050666,0.018148,0-17
01003,Baldwin County,AL,Alabama,Baldwin County AL,50.0,3.0,6.0,1.0,3.0,3-6-1-3,...,0.220623,0.095723,0.112451,0.119068,0.126571,0.133527,0.110206,0.059271,0.022560,0-17
01005,Barbour County,AL,Alabama,Barbour County AL,50.0,3.0,6.0,1.0,5.0,3-6-1-5,...,0.213786,0.119142,0.127668,0.114211,0.125483,0.123299,0.101605,0.054041,0.020766,0-17
01007,Bibb County,AL,Alabama,Bibb County AL,50.0,3.0,6.0,1.0,7.0,3-6-1-7,...,0.210674,0.114171,0.126086,0.119203,0.146106,0.121185,0.093018,0.055658,0.013898,0-17
01009,Blount County,AL,Alabama,Blount County AL,50.0,3.0,6.0,1.0,9.0,3-6-1-9,...,0.227612,0.100724,0.112028,0.120318,0.130666,0.125222,0.107338,0.058164,0.017928,0-17

*2.3* (10 pts) Calculate the proportion of seniors (65+) within each county, what is the county name of the county with the largest proportion of seniors?

In [63]:
join_df_drop.loc[:,'65+_rat']= join_df_drop.eval('`65-74_rat` + `75-84_rat` + `85+_rat`')

In [64]:
print("The county with the largest proportion of seniors is " + \
      join_df_drop.loc[join_df_drop['65+_rat'].idxmax()]['county_name'])

The county with the largest proportion of seniors is Sumter County

**Exercise 3**

*3.1* (10 pts) Read in 'time_series_covid19_deaths_US.csv'.  This is the Johns Hopkins official US Covid-19 death cumulative counts for each date and county.  Cumulative cases mean the total reported cases up to and including that date.  Restructure the dataframe such that it is 'tidy' and there is a column for date, deaths, population, and fips.  (Hint: look at pandas melt function)

In [32]:
covid19_deaths = pd.read_csv('time_series_covid19_deaths_US.csv')
covid19_deaths = covid19_deaths.dropna(subset=['FIPS'])
covid19_deaths_tidy = pd.melt(covid19_deaths, id_vars=['FIPS','Population'], value_vars=covid19_deaths.columns[12:], \
                             var_name= 'date', value_name='deaths')
covid19_deaths_tidy['FIPS'] = covid19_deaths_tidy['FIPS'].astype(np.int64)

In [33]:
covid19_deaths_tidy['FIPS'] =  covid19_deaths_tidy['FIPS'].apply(lambda x : '{0:0>5}'.format(x))
covid19_deaths_tidy = covid19_deaths_tidy.set_index(['FIPS'])
covid19_deaths_tidy.head()

       Population     date  deaths
FIPS
01001       55869  1/22/20       0
01003      223234  1/22/20       0
01005       24686  1/22/20       0
01007       22394  1/22/20       0
01009       57826  1/22/20       0

In [34]:
covid19_deaths_tidy.shape

(1335330, 3)

*3.2* (5 pts) Join the death data to the dataset with the county names, such that it drops those counties that are not within the county name dataset (county_fips_master).  Use only these counties henceforth.  This should remove any counties that have 0 population.  Which county (give county name and state) has the highest proportion of deaths by 2/25/21 to the Population?  Use the population in the covid deaths datasets.

In [35]:
join_df_2 = fips_master.join(covid19_deaths_tidy,how='left')

max_2_25_21_fips = (join_df_2.loc[join_df_2['date'] == '2/25/21']['deaths'] \
    / join_df_2.loc[join_df_2['date'] == '2/25/21']['Population']).idxmax()

print("The county has the highest proportion of deaths by 2/25/21 to the Population: ")
join_df_2.loc[join_df_2.index.isin([max_2_25_21_fips]) & (join_df_2.date == '2/25/21')][['county_name','state_name']]

The county has the highest proportion of deaths by 2/25/21 to the Population:

          county_name    state_name
46073  Jerauld County  South Dakota

*3.3* (10 pts) Compute the incidence proportion (number of deaths each day per 100,000 population) for each county, you may save this as a new dataset.  You can calculate the incidence for a given county by taking the difference of the cumulative cases for a day with the previous day.  Notice that this dataset is quite large, one trick to make this faster is to use the fips code and date as indexing variables and use `sort_index` to sort the indices before applying groupby operations.  For full points, you should use `groupby` and `diff` for this operation.

In [36]:
date_time = pd.to_datetime(join_df_2['date']) 
join_df_2['date'] = date_time

In [37]:
join_df_2 = join_df_2.reset_index().rename(columns={'index': 'FIPS'}).set_index(['FIPS','date'])
join_df_2 = join_df_2.sort_index()
join_df_2.head()

                     county_name state_abbr state_name          long_name  \
FIPS  date
01001 2020-01-22  Autauga County         AL    Alabama  Autauga County AL
      2020-01-23  Autauga County         AL    Alabama  Autauga County AL
      2020-01-24  Autauga County         AL    Alabama  Autauga County AL
      2020-01-25  Autauga County         AL    Alabama  Autauga County AL
      2020-01-26  Autauga County         AL    Alabama  Autauga County AL

                  sumlev  region  division  state  county crosswalk  \
FIPS  date
01001 2020-01-22    50.0     3.0       6.0    1.0     1.0   3-6-1-1
      2020-01-23    50.0     3.0       6.0    1.0     1.0   3-6-1-1
      2020-01-24    50.0     3.0       6.0    1.0     1.0   3-6-1-1
      2020-01-25    50.0     3.0       6.0    1.0     1.0   3-6-1-1
      2020-01-26    50.0     3.0       6.0    1.0     1.0   3-6-1-1

                 region_name       division_name  Population  deaths
FIPS  date
01001 2020-01-22       South  East South Central     55869.0     0.0
      2020-01-23       South  East South Central     55869.0     0.0
      2020-01-24       South  East South Central     55869.0     0.0
      2020-01-25       South  East South Central     55869.0     0.0
      2020-01-26       South  East South Central     55869.0     0.0

In [38]:
incid_prop = join_df_2.eval('deaths / Population * 100000').groupby(level = 0).diff()
incid_prop = incid_prop.to_frame().rename({0: 'incidence_proportion'}, axis=1)

In [39]:
incid_prop.head()

                  incidence_proportion
FIPS  date
01001 2020-01-22                   NaN
      2020-01-23                   0.0
      2020-01-24                   0.0
      2020-01-25                   0.0
      2020-01-26                   0.0

*3.4* (15 pts) Compute the incidence proportion per week (per 100,000 population), which is the sum of the incidences for all days in a week.  Hint: use Periods in Pandas.  A week is defined to be Sunday through Saturday.  Which is the week with the highest mean incidence proportions (where the mean is taken over all the counties)?  You can either sum the incidence counts within the week, or take a difference of the cumulative cases between consecutive Sundays, and these should produce the same thing.

In [40]:
incid_prop = incid_prop.reset_index(level=1)
incid_prop['week']=pd.PeriodIndex(incid_prop['date'], freq='W')

In [41]:
incid_prop.head()

            date  incidence_proportion                   week
FIPS
01001 2020-01-22                   NaN  2020-01-20/2020-01-26
01001 2020-01-23                   0.0  2020-01-20/2020-01-26
01001 2020-01-24                   0.0  2020-01-20/2020-01-26
01001 2020-01-25                   0.0  2020-01-20/2020-01-26
01001 2020-01-26                   0.0  2020-01-20/2020-01-26

In [44]:
incid_prop_week = incid_prop.groupby(['week'])['incidence_proportion'].mean()
incid_prop_week.to_frame().head()

                       incidence_proportion
week
2020-01-20/2020-01-26                   0.0
2020-01-27/2020-02-02                   0.0
2020-02-03/2020-02-09                   0.0
2020-02-10/2020-02-16                   0.0
2020-02-17/2020-02-23                   0.0

In [45]:
incid_prop_week.to_frame().describe()

       incidence_proportion
count             58.000000
mean               0.431198
std                0.402363
min                0.000000
25%                0.156854
50%                0.315886
75%                0.674396
max                1.315856

In [46]:
print(str(incid_prop_week.to_frame()['incidence_proportion'].idxmax()) + \
      " is the week with the highest mean incidence proportions.")

2020-12-07/2020-12-13 is the week with the highest mean incidence proportions.